.t
  %table
    %tr
      %th
        №
      %th
        Action
      %th
        Url
      %th
        Time
    %tr
      - @navigation.each_with_index do |action,index|
        %tr
          %td
            = index+1
            %td
              = action[:description]
              %b
                = action[:obj_id]

              %td
                = link_to action[:url],action[:url]

                %td
                  = action[:time]