.big_picture
  .container
    %br
    - if @like_for_chosen_picture.nil? then
      = image_tag @picture.photo.url(:small)
      %br
      = link_to 'Like', new_like_path(:id=>@picture.id,:like_created=>true)
    - else
      .like
        =(image_tag @picture.photo.url)
      = link_to 'Dislike', new_like_path(:id => @picture.id,:like_deleted => true)
    = @picture.likes_count
    .nav-collapse
      .span11
        %ul.nav
          - @comments.each do |comment|
            %li.comment{:id=>"#{comment.id}"}
              .title
                = comment.user.username
              .text
                = comment.text
              .time
                = time_ago_in_words comment.created_at
                ago

%br
= form_for :comment, url: picture_comments_path(:picture_id=>@picture.id) do |form|
  = form.label 'Your comment here'
  = form.text_area :text, :cols => 24, :rows => 10,:width=>450
  %br
    = show_simple_captcha
    = form.submit 'Post comment'
= render 'scrollTo'
